.conditionBlock {
	position: relative;
}
.removeBtn {
	cursor: pointer;
	position: absolute;
	left: 25px;
	top: -7px;
	color: red;
	font-size: 30px;
	animation: color 0.5s ease;
}
.removeBtn:hover {
	color: #f18787;
}
.removeBtn:active {
	color: #850202;
}
